{% extends "personal/header.html" %}

{% block content %}

<section class="content show" id="home">
			<h1>Welcome</h1>
			<h5>My new site is coming soon!</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate arcu sit amet sem venenatis dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse eu massa sed orci interdum lobortis. Vivamus rutrum.</p>
			<p><a href="#about">More info &#187;</a></p>
		</section>

		<!-- About Page -->
		<section class="content hide" id="about">
			<h1>About</h1>
			<h5>Here's a little about what i am up to.</h5>
			<p>Nullam quis arcu a elit feugiat congue nec non orci. Pellentesque feugiat bibendum placerat. Nullam eu massa in ipsum varius laoreet. Ut tristique pretium egestas. Sed sed velit dolor. Nam rhoncus euismod lorem, id placerat ipsum placerat nec. Mauris ut eros a ligula tristique lacinia non blandit metus. Sed vitae velit lorem, et scelerisque diam.</p>
			<p><a href="#">Follow our updates on Twitter</a></p>
		</section>

		<!-- Contact Page -->
		<section class="content hide" id="contact">
			<h1>Contact</h1>
			<h5>Get in touch.</h5>
			<p>Email: <a href="#">thumbimigwe@outlook.com</a><br /></p>
			<p>Nairobi, Kenya<br /></p>
		</section>


<!--

    <p>Hey! Welcome to my website! Well, I wasn't expecting guests. Um, my name is Thumbi Migwe. I am a programmer.</p>
-->

<!--{%include "personal/includes/htmlsnippet.html" %}-->
{% endblock %}