{% extends "personal/header.html" %}

{% block content %}

<section class="content show" id="home">
			<h1>Welcome</h1>
			<h5>New site is coming soon!</h5>
			<p>Hi, My name is Thumbi Migwe. I'm a backend developer - Python Django.</p>
    <p>This site is still on development.</p>
			<p><a href="#about">More info &#187;</a></p>
		</section>

		<!-- About Page -->
		<section class="content hide" id="about">
			<h1>About</h1>
           <h5>Here's a little about what i am up to.</h5>
			<p>Hi, My name is Thumbi Migwe. I'm a backend developer - Python Django.</p>
    <p>This site is still on development.</p>
			<p><a href="#">view my portfo &#187;</a></p>
		</section>

		<!-- Contact Page -->
		<section class="content hide" id="contact">
			<h1>Contact</h1>
			<h5>Get in touch.</h5>
			<p>Email: <a href="#">thumbimigwe@outlook.com</a><br /></p>
			<p>Nairobi, Kenya<br /></p>
		</section>


<!--

    <p>Hey! Welcome to my website! Well, I wasn't expecting guests. Um, my name is Thumbi Migwe. I am a programmer.</p>
-->

<!--{%include "personal/includes/htmlsnippet.html" %}-->
{% endblock %}